[Desktop Entry]
Name=Gubed GTK
Exec=gbdclient-gtk
Icon=gubed
Type=Application
Comment=Gubed PHP debuger (GTK)
Categories=GTK;Development;WebDevelopment;
# vi:encoding=utf-8
