[Desktop Entry]
Name=Gubed X11
Exec=gbdclient-x11
Icon=gubed
Type=Application
Comment=Gubed - PHP debuger (X11)
Categories=GTK;Development;WebDevelopment;
# vi:encoding=utf-8
