[Desktop Entry]
Encoding=UTF-8
Name=Gubed X11
Exec=gbdclient-x11
Icon=gubed.png
Type=Application
Comment=Gubed - PHP debuger (X11)
Categories=GTK;Development;WebDevelopment;
# vi:encoding=utf-8
